.about-container {
  padding: 0 48px;
  margin-top: 48px;
  width: 100%;
  height: 570px;
  .about-content {
    width: 100%;
    height: 560px;
    display: flex;
    .left-content {
      width: 50%;
      // border: 1px solid red;
      font-family: "Playfair Display" !important;
      .about-us-left {
        color: #bf932e !important;
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
      }
      .welcome-left {
        color: #333;
        margin-bottom: 1.5rem !important;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        font-size: 32px;
      }
      .details-left {
        color: #666 !important;
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 1rem;
        outline: none !important;
      }
    }
    .right-content {
      width: 50%;
      // border: 1px solid red;
      .img-right {
        background: url("../../../assets/LA-SPA_3-2000.jpg");
        // background-position: center center;
        // background-size: contain !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: none;
        height: 560px;
        width: 100%;
      }
    }
  }
}
