.Booking {
  margin-top: 155px;
  font-family: sans-serif;
  text-align: -webkit-center;
  height: 440px;

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;

    input {
      height: 60px;
      margin-top: 20px;
    }
    .btn-submit {
      margin-top: 20px;
      background-color: #b08933;
      color: antiquewhite;
      font-weight: bold;
    }
  }
}
